.dockerignore
.gitignore
Dockerfile
README.md
/.custom_built
/.github/
/.installed.cfg
/.mr.developer.cfg
/.Python
/bin
/buildout.cfg
/develop-eggs
/eggs
/etc
/include
/lib
/local
/parts
/pip-selfcheck.json
/src
/var
/share
